{
    "class": "AS3",
    "action": "deploy",
    "persist": false,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.2.0",
        "remark": "example remark",
        "{{ tenant }}":{
            "class": "Tenant",
            "{{ app }}": {
                "class": "Application",
                "template": "https",
                "serviceMain": {
                    "class": "Service_HTTPS",
                    "virtualAddresses": [
                        "{{ virtual.destination}}"
                    ],
                    "virtualPort": {{ virtual.port}},
                    "pool": "app_pool",
                    "serverTLS": "webtls",
                    "snat": "auto"
                },
                "webtls": {
                    "class": "TLS_Server",
                    "certificates": [
                        {
                            "certificate": "webcert"
                        }
                    ]
                },
                "webcert": {
                    "class": "Certificate",
                   "privateKey": {
                        "bigip": "/Common/default.key"
                    },
                    "certificate": {
                        "bigip": "/Common/default.crt"
                    }
                },   
                "app_pool": {
                    "class": "Pool",
                    "monitors": [
                        "http"
                    ],
                    "members": [
                        {
                            "servicePort": 80,
                            "serverAddresses": [
                            "10.128.20.14",
							"10.128.20.15"

                            ]
                        }
                    ]
                }
            }
        }
    }
}