{
  "class": "AS3",
  "action": "deploy",
  "persist": false,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.12.0",
    "target": {
        "address": "{{ bigip_devices.F5_A.ip }}"
    },
    "remark": "An HTTP and an HTTPS application",
    "{{ tenant }}": {
      "class": "Tenant",
      "forwad_to_https": {
        "class": "Application",
        "service": {
          "class": "Service_HTTP",
          "virtualAddresses": [
            "{{ virtual.destination }}"
          ],
          "virtualPort": 80,
          "profileHTTP": { "bigip": "/Common/http" }
          "iRules": [
                "http_to_https"
          ]
        },
        "http_to_https": {
            "class": "iRule",
            "remark": "forwarding to https",
            "iRule": { "bigip": "/Common/_sys_https_redirect" }
        }
      },
      "{{ app }}": {
        "class": "Application",
        "service": {
          "class": "Service_HTTPS",
          "virtualAddresses": [
            "{{ virtual.destination }}"
          ],
          "virtualPort": {{ virtual.port }},
          "pool": "{{ pool.name }}",
          "serverTLS": "{{ serverTLS.name }}"
        },
        "{{ pool.name }}": {
          "class": "Pool",
          "monitors": [
            "{{ pool.monitor }}"
          ],
          "members": [{
            "servicePort": {{ pool.port }},
            "serverAddresses": [
            {% set comma = joiner(",") %}
            {% for member in pool_mem %}
            {{comma()}} "{{  member.address  }}"
            {% endfor %}
            ]
          }]
        },
        "{{ serverTLS.name }}": {
          "class": "TLS_Server",
          "certificates": [{
            "certificate": "{{ serverTLS.cert_name }}"
          }]
        },
        "{{ serverTLS.cert_name }}": {
                  "class": "Certificate",
                   "privateKey": {
                        "bigip": "/Common/default.key"
                    },
                    "certificate": {
                        "bigip": "/Common/default.crt"
                    }
          }
        }
      }
    }
  }
}