{
    "class": "AS3",
    "action": "deploy",
    "persist": false,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.18.0",
        "controls": {
            "class": "Controls",
            "traceResponse": false
            },
        "remark": "HTTPS Virtual server",
        "{{ tenant }}":{
            "class": "Tenant",
            "controls": {
                "class": "Controls",
                "traceResponse": true
                },
            "{{ app }}": {
                "class": "Application",
                "template": "https",
                "serviceMain": {
                    "class": "Service_HTTPS",
                    "virtualAddresses": [
                        "{{ virtual.destination}}"
                    ],
                    "virtualPort": {{ virtual.port }},
                    "pool": "{{ pool.name }}",
                    "serverTLS": "{{ serverTLS.name }}",
                    "snat": "{{ virtual.snat }}"
                },
                "{{ serverTLS.name }}": {
                    "class": "TLS_Server",
                    "certificates": [
                        {
                            "certificate": "{{ serverTLS.cert_name }}"
                        }
                    ]
                },
                "{{ serverTLS.cert_name }}": {
                    "class": "Certificate",
                   "privateKey": {
                       "{{ privkey }}"
                    },
                    "certificate": {
                      "{{ certificate }}"
                    },
                    "ignoreChanges": true
                },   
                "{{ pool.name }}": {
                    "class": "Pool",
                    "monitors": [
                        "{{ pool.monitor }}"
                    ],
                    "members": [
                        {
                            "servicePort": {{ pool.port }},
                            "serverAddresses": [
                                {% set comma = joiner(",") %}
                                {% for member in pool_mem %}
                                {{comma()}} "{{  member.address  }}"
                                {% endfor %}

                            ]
                        }
                    ]
                }
            }
        }
    }
}