{
    "name": "{{ deployment.name }}",
    "description": "{{ deployment.description }}",
    "deviceReferences": [{
        "link": "{{ deviceReference }}"
    }],
    "snapshotReference": { 
        "link": "{{ snapshotReference }}"
    }
}