{
  "partition": "{{ partition }}",
  "name": "{{ pool.name }}",
  "loadBalancingMode": "{{ pool.lb_mode }}",
  "deviceReference": {
    "link": "{{ deviceReference }}"
  },
  "monitor": "{{ pool.monitor }}"
}